.terms {
	width: 90%;
	max-width: 120rem;
	margin: 40px auto;
	background: #FFF;
	border-radius: 6px;
	box-shadow: 0px 2px 4px #CECECE;
	pointer-events: none;
}
.title {
	font-size: 22px;
	font-family: Arial, helvetica, Sans-Serif;
	text-align: center;
	padding: 20px;
	pointer-events: none;
}
.info {
	font-family: Arial, helvetica, Sans-Serif;
	font-size: 16px;
	padding: 10px 40px 40px 40px;
	text-align: justify;
	pointer-events: none;
}

.titulo { font-size: 18px }
.split { margin-left: 10px; font-size: 18px }
.spliter { margin-left: 20px; font-size: 16px }